.nodecorlink {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.headingcolor {
    background-color: #1976d2;
    color: white;
    padding: 10px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}

.logo-title {
    font-weight: 700 !important;
    letter-spacing: 5px !important;
    font-size: 14px !important;
    text-decoration: none !important;
}
